body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif
}


 .wrapper {
     max-width: 50rem;
     background: white;
     padding-bottom: 50px;
     padding: 25px;
     border-radius: 4px;
     
 }

 legend {
     width: auto;
     padding: 15px 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     background: #fff;
 }

 fieldset {
     padding: 1em;
     background: #eee;
     border: 1px solid #ddd;
     border-radius: 4px;

 }

 .lgnd {
     font-size: 20px;
 }

.btn {
    border-radius: 6px;
     padding: 0.5em 1em;
     font-size: 16px;
     background: #6592ed;
     color: #fff;
}

.box {
     margin-bottom: 25px;

 }

.mess {
    padding: 1em 0;
    box-sizing: border-box;
}

 #fullname,
 #email,
 #mess,
 #submit-btn {
     width: 100%;
     padding: 0.725em;
     border-radius: 4px;
     border: 1px solid #ccc;
     box-sizing: border-box;

}



 @media only screen and (min-width: 35rem) {
.wrapper {
   max-width: 50rem;
   margin: 0 auto;
}

#fullname,
#email {
   width: 100%;
}
.fname,
.email {
   width: 48%;
   float: left;
}
#submit-btn {
   width: 125px;
}
.fname {
   margin-right: 1.5%;
}
.email {
   margin-left: 2.5%;
}
     
    